<form id="frmAsistenciasPase" method="post">
    <input type="hidden" id="idAsistenciaPase" name="idAsistenciaPase">
    <div class="mb-1">
        <label for="selIdEmpleado">Empleado</label>
        <select class="form-select" id="selIdEmpleado" name="idEmpleado" required>
            <option value="" selected disabled>-- Selecciona un Empleado --</option>
            {% for empleado in empleados %}
            <option value="{{ empleado.idEmpleado }}">{{ empleado.nombreEmpleado }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-1">
        <label for="selIdAsistencia">Fecha de Asistencia</label>
        <select class="form-select" id="selIdAsistencia" name="idAsistencia" required>
            <option value="" selected disabled>-- Selecciona una Fecha de Asistencia --</option>
            {% for asistencia in asistencias %}
            <option value="{{ asistencia.idAsistencia }}">{{ asistencia.fecha }} - ({{ asistencia.comentarios }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-md-4">
        <label for="selEstado">Estado</label>
        <select class="form-control" id="selEstado" name="selEstado" required>
            <option value="" disabled selected>-- Seleccione un Estado --</option>
            <option value="Asistencia">Asistencia</option>
            <option value="Retardo">Retardo</option>
            <option value="Falta">Falta</option>
        </select>
    </div>
    
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>ID Asistencia Pase</th>
                <th>Empleado</th>
                <th>Asistencia</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyAsistenciasPases"></tbody>
    </table>
</div>
