<form id="frmEmpleado" method="post">
    <input type="hidden" id="idEmpleado" name="idEmpleado">
    <div class="mb-1">
        <label>Nombre del Empleado</label>
        <input type="text" class="form-control" id="txtNombreEmpleado" name="nombreEmpleado" required>
    </div>
    <div class="mb-1">
        <label>Número</label>
        <input type="number" class="form-control" id="txtNumero" name="numero" required>
    </div>
    <div class="mb-1">
        <label>Fecha de Ingreso</label>
        <input type="date" class="form-control" id="txtFechaIngreso" name="fechaIngreso" required>
    </div>
    <div class="mb-1">
    <label for="selIdDepartamento">Departamento</label>
    <select class="form-select" id="selIdDepartamento" name="idDepartamento" required>
        <option value="" selected disabled>-- Selecciona un departamento --</option>
        
        {% for depto in departamentos %}
        <option value="{{ depto.idDepartamento }}">{{ depto.NombreDepartamento }}</option>
        {% endfor %}
    </select>
</div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha de Ingreso</th>
                <th>Departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyEmpleados"></tbody>
    </table>
</div>
