{% for empleado in empleados %}
<tr>
    <td>{{ empleado.idEmpleado }}</td>
    <td>{{ empleado.nombreEmpleado }}</td>
    <td>{{ empleado.numero }}</td>
    <td>{{ empleado.fechaIngreso }}</td>
    
    <td>{{ empleado.NombreDepartamento }}</td>
    
    <td>
        <button class="btn btn-warning btn-sm btn-editar-empleado" 
                data-id="{{ empleado.idEmpleado }}"
                data-nombre="{{ empleado.nombreEmpleado }}"
                data-numero="{{ empleado.numero }}"
                data-fecha="{{ empleado.fechaIngreso }}"
                data-iddepartamento="{{ empleado.idDepartamento }}">Editar</button>
    </td>
</tr>
{% endfor %}
